@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,500,600,700");

:root {
  --Backgound: #f2f2f2;
  --Black: #171717;
  --Black60: #17171799;
  --Black45: #17171773;
  --Black5: #1717170d;
  --BlackShadow: #1717174d;
  --White: #ffffff;
  --White60: #ffffff99;
  --White5: #ffffff1a;
  --Secondary: #0d6ede;
  --ImgBackgorund: #94d4f0;
  --Grey: #707070;
  --Grey45: #70707073;
  --Red: #e10052;

  --Scrollbar-size: 0.5rem;
  --Scrollbar-color: #0d6ede;

  --ReCaptchaScale: 1;

  font-size: 12px;

  scrollbar-color: var(--Scrollbar-color) var(--Backgound);
  scrollbar-width: thin;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--Black);
}

.blur {
  filter: blur(6px);
}

html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: var(--Scrollbar-size);
}
body::-webkit-scrollbar-track {
  background-color: var(--Backgound);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Scrollbar-color);
  border-radius: 1rem;
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1300px) {
  :root {
    --ReCaptchaScale: 0.8 !important;
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 8px !important;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 8px !important;
  }
}
