.section-title-container {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title-svg {
  position: absolute;
  width: 20rem;
  height: 3.75rem;
  transform: translateY(3.6rem);
  z-index: 0;
}

.section-title {
  z-index: 1;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Home */
.subtitle {
  font-size: 2.5rem;
  color: var(--Black60);
  font-weight: 300;
}

.title {
  font-size: 8.75rem;
  line-height: 11.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.home {
  width: 100%;
  height: calc(100vh - 6.875rem);
  display: flex;
  justify-content: space-between;
  min-height: 60rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
  align-items: center;
}

.svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg > * {
  width: 40rem;
  margin-left: -10rem;
}

/* Project */
.project-container {
  display: flex;
  width: 100%;
  margin: 10rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

/* Experiments */
.experiments-container {
  position: relative;
  width: 100%;
  margin: 10rem 0rem;
  gap: 5rem;
}

.experiments-container > *:nth-child(2) {
  margin-left: auto;
  margin-top: -15rem;
}

.experiments-container > *:nth-child(3) {
  right: 7.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* About */
.about-container {
  display: flex;
  width: 100%;
  margin: 10rem 0rem;
  flex-direction: column;
  gap: 6.25rem;
}

.about-first-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 5rem;
}

.about-text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.25rem;
}

.about-SVG {
  margin: auto 0;
  width: 33rem;
}

.sub-section-title {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.375rem;
}

.text {
  font-size: 1.625rem;
  color: var(--Black60);
  font-weight: 300;
  text-align: justify;
}

.about-passion-container {
  display: grid;
  flex-direction: row;
  gap: 7.5rem;
  grid-template-areas: "Crypto Coding Design Gaming";
  grid-template-columns: repeat(4, 1fr);
}

/* Cta Section */
.cta-section-svg {
  margin-bottom: -1rem;
}

.cta-section-bgc {
  background-color: var(--Secondary);
  display: flex;
  justify-content: center;
}

.cta-section-bcg > * {
  z-index: 5;
}

.cta-section-container {
  position: relative;
  padding-bottom: 8rem;
  gap: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.5rem;
  z-index: 10;
}

.cta-section-title {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--White);
  text-align: center;
  z-index: inherit;
}
