.home {
  height: calc(calc(var(--vh, 1vh) * 100) - 6.875rem - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6.875rem;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-top: auto;
  font-size: 2.5rem;
  color: var(--Black60);
  font-weight: 300;
}

.title {
  font-size: 5rem;
  font-weight: 700;
}

.first-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8.25rem 0;
}

.first-image > * > img {
  margin: auto;
  height: auto;
  box-shadow: 0 0 0.625rem 0.3rem var(--BlackShadow);
}

.first-image > * > video {
  margin: auto;
  width: 100%;
  height: auto;
  min-height: 400px;
  object-fit: cover;
  margin: -5rem 0;
}

.second-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paragraph-justify {
  font-size: 1.625rem;
  font-weight: 300;
  text-align: justify;
}

.description {
  padding: 8.25rem 0;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.section-title {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4.375rem;
}

.presentation-images {
  width: 100%;
  height: 100vh;
  max-height: 80rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-image-container {
  display: grid;
  grid-template-columns: repeat(4, 35rem);
  justify-items: center;
  align-items: center;
  grid-auto-rows: 35rem;
  grid-template-areas: ". image1 . ." "image2 . image3 ." ". image4 . image5" ". . image6 .";
  transform: rotate(-30deg);
}

.grid-image-container > .image {
  width: 60rem;
  display: flex;
  box-shadow: 0 0 0.625rem 0.3rem var(--BlackShadow);
}

.grid-image-container > .image:nth-child(1) {
  grid-area: image1;
}
.grid-image-container > .image:nth-child(2) {
  grid-area: image2;
}
.grid-image-container > .image:nth-child(3) {
  grid-area: image3;
}
.grid-image-container > .image:nth-child(4) {
  grid-area: image4;
}
.grid-image-container > .image:nth-child(5) {
  grid-area: image5;
}
.grid-image-container > .image:nth-child(6) {
  grid-area: image6;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.row {
  padding: 8.25rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.row:nth-child(2) {
  padding: 0;
}

.row:last-child {
  padding: 8.25rem 0;
}

.row-image {
  min-width: 0;
  padding: 3.5rem;
  width: 100%;
  display: flex;
}

.row-image-dual {
  width: 100%;
  height: auto;
  position: relative;
}
.row-image-dual > .image-dual {
  margin: 3.5rem 3.5rem calc(3.5rem + 10%) 3.5rem;
  width: 70%;
  box-shadow: 0 0 0.625rem 0.3rem var(--BlackShadow);
}
.row-image-dual > .image-dual:last-child {
  position: absolute;
  margin: 0;
  right: 3.5rem;
  bottom: 3.5rem;
  box-shadow: 0 0 0.625rem 0.3rem var(--BlackShadow);
}

.row-image > img {
  width: 100%;
  box-shadow: 0 0 0.625rem 0.3rem var(--BlackShadow);
}

.row:nth-child(odd) {
  flex-direction: row-reverse;
}
.row:first-child {
  flex-direction: row;
}

.explore-container {
  margin-top: auto;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.explore-text {
  font-size: 2.5rem;
  font-weight: 400;
}

.explore-svg {
  transform: translateY(10%);
  width: 2rem;
  height: 2.5rem;
  animation: up-down 1.75s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px) scale(var(--ReCaptchaScale));
  }

  20%,
  80% {
    transform: translate(3px) scale(var(--ReCaptchaScale));
  }

  30%,
  50%,
  70% {
    transform: translate(-6px) scale(var(--ReCaptchaScale));
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0) scale(var(--ReCaptchaScale));
  }
}
